<body>
<div class="background-container">
    <div class="starting">
      <div class="nav-title">
        <h1>Vivah</h1>
      </div>
        <div class="nav-logo">
            <img src="/assets/marriage.jpg" alt="">
        </div>
        <div class="nav-items">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="about1">About </a></li>
            <li><a href="service1">Services</a></li>
            <li><a href="contact1">Contacts</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </div>
    </div>
</div>
</body>