<div class="background-container">
  <div class="navbar">
    <div class="nav-title">
      <h1>Vivah</h1>
    </div>
      <div class="nav-logo">
          <img src="/assets/marriage.jpg" alt="">
      </div>
      <div class="nav-items">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About </a></li>
          <li><a href="service">Services</a></li>
          <li><a href="contact">Contacts</a></li>
          <li><a href="admin">Admin</a></li>
          <li><a href="location-booking">Location Booking</a></li>
          <li><button class="logout-button" (click)="logout()">Logout</button></li>
        </ul>
      </div>
</div>