<div class="body">
  <div class="location-booking-container">
    <h2>Chat With Your Soulmate</h2>
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        Name:<br>
        <input type="text" formControlName="name"><br>
      </div>
  
      <div class="form-group">
        E-mail:<br>
        <input type="text" formControlName="mail"><br>
      </div>
  
      <div class="form-group">
        Message:<br>
        <textarea formControlName="comment" rows="4" cols="50"></textarea><br><br>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
      <button type="button" (click)="onClear()" class="btn btn-primary">Clear</button>
    </form>
  </div>
</div>
